.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}

.main-article,
.footer-article {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  text-align: center;
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
