[submodule "FrontEndMasters/01 Beginner/04_CSS_Foundations/Project/fem-css-foundations"]
	path = FrontEndMasters/01 Beginner/04_CSS_Foundations/Project/fem-css-foundations
	url = https://github.com/lewallenae/fem-css-foundations.git
