html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}




.contribution-counter-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 8px;
 }

  .gitHub-counter {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255,165,0,0.4);
  }

  .counter-overlay-txt {
    
    background-color:white;
    color: crimson;
    font-size: 11px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate( -50%, -50%);
    padding: 0 5px;
    border-radius: 4px;
    white-space: nowrap;
    z-index: 10;
    

  }

  .gitHub-stats {
    text-decoration: none;
    display: block;
  }